.addButtonContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}

.buttonIcon {
  height: 24px;
}

.addButtonWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 5px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-radius: 5px;
}

.addButtonWrapper:hover {
  background-color: rgb(219, 219, 219);
}

.submitButton {
  background-color: green;
  color: white;
}

.inputWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
