.buttonIcon {
  height: 24px;
}

.buttonWrapper {
  height: 36px;
  padding: 5px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-radius: 5px;
}

.buttonWrapper:hover {
  background-color: rgb(219, 219, 219);
}
