.editForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.editForm > .input[type="submit"] {
  background-color: red I !important;
}

.inputWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.saveButton {
  margin-bottom: 1rem;
}
