.deleteButtonWrapper {
  padding: 5px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-radius: 5px;
}

.deleteButtonWrapper:hover {
  background-color: rgb(219, 219, 219);
}

.listHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
}

.buttonIcon {
  height: 24px;
}
