.container {
  display: flex;
  flex-direction: column;
  background-color: rgb(243, 245, 247);
  box-shadow: 0.1px 0.1px 3px 0.2px rgba(166, 166, 166, 0.5);
  padding: 1rem;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  max-width: 50%;
  height: max-content;
  flex: 1;
  justify-content: space-between;
}

.separator {
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 100%;
}
