.container {
  background-color: white;
  box-shadow: 0.1px 0.1px 4px 0.2px rgba(166, 166, 166, 0.8);

  border: 1px solid transparent;
  border-radius: 5px;

  padding: 1rem;
  margin-top: 1rem;
}

.readContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.taskContent {
  overflow-wrap: anywhere;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  margin-left: 1rem;
}
