html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: #323232;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  margin-top: 1rem;
}

h2,
h3 {
  margin-top: 0.5rem;
}

* {
  box-sizing: border-box;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

input,
textarea,
button {
  min-height: 1.8rem;
  border-radius: 7px;
  border: 1px solid lightgray;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input[type="submit"],
button {
  display: flex;
  align-self: stretch;

  align-items: center;
  justify-content: center;

  font-size: 0.9rem;
  padding: 0.8rem;

  border: none;
  cursor: pointer;

  width: 100%;
}

input[type="text"],
textarea {
  padding: 0.8rem;
  font-size: 0.8rem;
  width: 100%;
  height: max-content;
}

label {
  margin-bottom: 0.5rem;
}

hr {
  margin: 2rem 0;
}
