.container {
  padding: 0 2rem;
  background-color: white;
}

.main {
  min-height: 100vh;
  padding: 1rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.listContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  margin-bottom: 2rem;
}

.addListForm {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 1rem;
  gap: 0.5rem;
  text-align: left;
}

.headerFormWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 1rem;
  width: 80%;
  gap: 5rem;
  text-align: left;
}

.filterWrapper {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}

.filterInput {
  width: unset !important;
}
